<section class="page-section nosotros">
  <div class="container">
    <h1>MAVERIX: Resultados diferentes</h1>
    <p>El Estudio se dedica desde hace más de 7 años a la gestión de mora en el marco de los más altos estándares de excelencia.</p>
    <p>Somos una empresa que integra la gestión judicial y extrajudicial en una dinámica que se  ajusta a las políticas y procedimientos de cada uno de nuestros  clientes, obteniendo excelentes resultados tanto en el recupero temprano como en el cobro judicial.</p>
    <p>Hemos desarrollado una valiosísima infraestructura humana, con  un sólido equipo de contact center conformado por profesionales  con amplia capacitación y experiencia en materia de cobranza, así  como un amplio grupo de abogados dedicados exclusivamente a la  cobranza judicial de créditos.</p>

    <div class="d-flex justify-content-center">
      <a class="btn btn-flat" href="#">MAS INFO</a>
    </div>
  </div>
</section>

<section class="page-section numeros">
  <div class="container">

    <div class="text-center" data-aos="fade-down">
      <h2 class="section-heading text-uppercase text-white">NUESTROS NUMEROS</h2>
    </div>

    <div class="row text-center">

      <div class="col-md-3" data-aos="zoom-in">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-solid fa-sack-dollar fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">RECUPERO</h4>
        <p class="text-muted">Eficiente gestión masiva y personalizada de WhatsApp, envío de e-mails y SMS.</p>
      </div>

      <div class="col-md-3" data-aos="zoom-in">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-solid fa-people-group fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">CLIENTES</h4>
        <p class="text-muted">Más de 35 clientes avalan nuestra experiencia.</p>
      </div>

      <div class="col-md-3" data-aos="zoom-in">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-solid fa-calendar-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">MORA TEMPRANA</h4>
        <p class="text-muted">Recuperación de sus saldos vencidos en el menor tiempo posible mediante una intervención oportuna.</p>
      </div>

      <div class="col-md-3" data-aos="zoom-in">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-solid fa-calendar-xmark fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">MORA TARDIA</h4>
        <p class="text-muted">Especial énfasis en la localización y contactabilidad mediante el enriquecimiento de bases de datos.</p>
      </div>

    </div>
  </div>
</section>
