<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(<%= image_path('fotoBanner.jpg') %>);">
  <div class="container">
    <%= image_tag('logo_maverixSF.png') %>
  </div>
  <div class="container">
    <a class="btn btn-flat" href="#">CONTACTANOS</a>
  </div>
</div>
